.controller.fight-stick {
    background: url(base.svgz.svg) center no-repeat;
}
.fight-stick .arrows {
    top: -65px !important;
    left: 405px !important;
}
.fight-stick .start {
    bottom: auto !important;
    left: 114px;
}
